.news-title {
    background-color: goldenrod;
    flex-direction: row;
}

.add-button {
    flex-grow: 0;
}

.title {
    flex-grow: 0;
}

.spacer {
    flex-grow: 5;
}

// section {
//     background-color: lightcoral;
//     //height: 100%;
// }