<mat-sidenav-container style="height: 100%;">
  <mat-sidenav opened="true" mode="side" disableClose="true">
    <mat-toolbar class="news-title">
      <div class="title">{{title}}</div>
      <div class="spacer">&nbsp;</div>
      <button class="add-button" mat-raised-button color="primary" (click)="addNewNewsItem()">Add Article</button>
    </mat-toolbar>
    <app-news-item-list [newsItems]=newsItems></app-news-item-list>
  </mat-sidenav>
  <section>
    <router-outlet></router-outlet>
  </section>
</mat-sidenav-container>