<mat-toolbar>Location Editor</mat-toolbar>
<div class="flex-container">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="location.name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Description" [(ngModel)]="location.description">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Latitude" type="numeric" [(ngModel)]="location.latPos"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Longitude" type="numeric" [(ngModel)]="location.longPos"/>
  </mat-form-field>
  <mat-checkbox #activeLocation [(ngModel)]="location.active">Is Active</mat-checkbox>
  <div class="buttonBox">
    <button mat-raised-button color="primary" (click)="saveChanges()">Save</button>
    <button mat-raised-button color="primary" (click)="cancelChanges()">Cancel</button>
  </div>
</div>