<mat-sidenav-container style="height: 100%;">
  <mat-sidenav opened="true" mode="side" disableClose="true">
    <mat-toolbar class="flex-container">
      <div class="title">{{title}}</div>
      <div class="spacer">&nbsp;</div>
      <button mat-raised-button color="primary" class="addButton" (click)="addNewRacer()">Add Racer</button>
    </mat-toolbar>
    <app-racer-list [racers]=racers></app-racer-list>
  </mat-sidenav>
  <section>
    <router-outlet></router-outlet>
  </section>
</mat-sidenav-container>