<mat-sidenav-container style="height: 100%;">
    <mat-sidenav opened="true" mode="side" disableClose="true">
      <mat-toolbar>
        <div class="title">{{title}}</div>
        <div class="spacer">&nbsp;</div>
        <button mat-raised-button class="addButton" color="primary" (click)="addNewSeason()">New Season</button>
      </mat-toolbar>
      <app-season-list [seasons]=seasons></app-season-list>
    </mat-sidenav>
    <section>
      <router-outlet></router-outlet>
    </section>
</mat-sidenav-container>