<div class="panel panel-default">
  <div class="panel-heading">Article Editor</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <label [for]="title">Title:</label>
        <input #title [(ngModel)]="newsItem.title">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <label [for]="article">Article:</label>
        <textarea class="form-control" #article [(ngModel)]="newsItem.articleText"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <button kendoButton (click)="onSaveChanges()">Save</button>
      </div>
      <div class="col-sm-2">
        <button kendoButton (click)="onDelete()">Delete</button>
      </div>
      <div class="col-sm-2">
        <button kendoButton (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
