<mat-toolbar>Article Editor</mat-toolbar>
<div class="flex-container">
  <mat-form-field>
    <mat-select placeholder="Article Type" [(value)]="articleTypeId" >
      <mat-option #articleType *ngFor="let artType of articleTypes" [(value)]="artType.id">
        {{artType.typeName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput #title placeholder="Title" [(ngModel)]="newsItem.title">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput #articleBody placeholder="Article" [(ngModel)]="newsItem.articleText"></textarea>
  </mat-form-field>
  <div class="button-box">
    <button mat-raised-button color="primary" (click)="onSaveChanges()">Save</button>
    <button mat-raised-button color="primary" (click)="onDelete()">Delete</button>
    <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>  
  </div>
  <div class="byline">Originally posted on {{newsItem.postedOn | date:'shortDate'}} by {{newsItem.postedBy}}</div>
</div>