<div class="RaceEventName">
  <div *ngIf='this.isRace()'>
    <strong>{{raceEvent.scheduledStartTime | date:'short'}}</strong> {{raceEvent.raceEventType.typeName}} {{raceEvent.raceFormat.code}} - {{raceEvent.runCount}}
  </div>
  <div *ngIf='!this.isRace()'>
    <strong>{{raceEvent.scheduledStartTime | date:'short'}}</strong> {{raceEvent.raceEventType.typeName}} {{raceEvent.raceFormat.code}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <button kendoButton (click)="onSelectDetails()">Details</button>
  </div>
  <div class="col-sm-6">
    <button kendoButton (click)="onSelectEdit()">Edit</button>
  </div>
</div>
