<mat-toolbar>Race Editor</mat-toolbar>
<div class="flex-container">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="raceEvent.raceName">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Race Type" [(value)]="raceEventTypeId">
      <mat-option *ngFor="let raceType of raceEventTypes" [(value)]="raceType.id" >
        {{raceType.typeName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Location" [(value)]="locationId">
      <mat-option *ngFor="let loc of locations" [(value)]="loc.id">
        {{loc.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Scheduled Date" [matDatepicker]="startDate" [(ngModel)]="raceEvent.scheduledStartTime">
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
  </mat-form-field>
  <mat-form-field *ngIf='this.isRace()'>
    <input matInput type="number" placeholder="Number of Runs" [(ngModel)]="raceEvent.runCount">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Race Format" [(value)]="raceFormatId">
      <mat-option *ngFor="let format of raceFormats" [(value)]="format.id">
        {{format.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Notes" [(ngModel)]="raceEvent.notes"></textarea>
  </mat-form-field>
  <div class="button-box">
    <button mat-raised-button color="primary" (click)="saveChanges()">Save</button>
    <button mat-raised-button color="primary" (click)="cancelChanges()">Cancel</button>
  </div>
</div>