<div class="panel panel-default">
    <div class="panel-heading"><h4>Race Editor</h4></div>
    <div class="panel-body">
        <div class="row">
          <div class="col-sm-2">
            <label [for]="racename">Name:</label>
          </div>
          <div class="col-sm-10">
            <input #racename [(ngModel)]="raceEvent.raceName">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label [for]="locationDropDown">Location:</label>
          </div>
          <div class="col-sm-10">
            <kendo-dropdownlist #locationDropDown
              [data]="locations"
              textField="name"
              valueField="id"
              [(ngModel)]="raceEvent.location">
            </kendo-dropdownlist>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label [for]="dateValuePicker">Scheduled Date:</label>
          </div>
          <div class="col-sm-10">
            <kendo-datepicker #dateValuePicker [(value)]="raceEvent.scheduledStartTime"></kendo-datepicker>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label [for]="timeValuePicker">Scheduled Time:</label>
          </div>
          <div class="col-sm-10">
            <kendo-timepicker #timeValuePicker [(value)]="raceEvent.scheduledStartTime"></kendo-timepicker>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label [for]="runCount">Number of Runs:</label>
          </div>
          <div class="col-sm-10">
            <kendo-numerictextbox [min]="1" [max]="5" [format]="'n0'" #runCount [(ngModel)]="raceEvent.runCount"></kendo-numerictextbox>            
          </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
              <label [for]="raceFormat">Race Format:</label>
            </div>
            <div class="col-sm-10">
              <kendo-dropdownlist #raceFormat
                [data]="raceFormats"
                textField="name"
                valueField="id"
                [(ngModel)]="raceEvent.raceFormat">
              </kendo-dropdownlist>
            </div>
          </div>
        <div class="row">
          <div class="col-sm-2">
            <label [for]="raceNotes">Notes:</label>
          </div>
          <div class="col-sm-10">
            <textarea #raceNotes [(ngModel)]="raceEvent.notes"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <button kendoButton (click)="saveChanges()">Save</button>
          </div>
          <div class="col-sm-2">
            <button kendoButton (click)="cancelChanges()">Cancel</button>
          </div>
        </div>
    </div>
</div>    
