<div class="panel panel-default">
  <div class="panel-heading">Racer Editor</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <label [for]="racername">Name:</label>
        <input #racername [(ngModel)]="racer.name">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label [for]="bibNumber">Bib Number:</label>
        <kendo-numerictextbox [min]="1" [max]="150" [format]="'n0'" #bibNumber [(ngModel)]="racer.bibNumber"></kendo-numerictextbox>
        <!-- <input type="numeric" #bibNumber [(ngModel)]="racer.bibNumber"/>         -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label>Race Series:</label>
        <kendo-dropdownlist
          [data]="raceSeries"
          textField="name"
          valueField="id"
          [(ngModel)]="racer.raceSeries">
        </kendo-dropdownlist>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label [for]="activeRacer">Is Active:</label>
        <kendo-switch [(ngModel)]="racer.active"></kendo-switch>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <button kendoButton (click)="saveChanges()">Save</button>
      </div>
      <div class="col-sm-2">
        <button kendoButton (click)="cancelChanges()">Cancel</button>
      </div>
    </div>
  </div>
</div>
