<mat-toolbar>Racer Editor</mat-toolbar>
<div class="flex-container">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="racer.name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Bib Number" [min]="1" [max]="150" [(ngModel)]="racer.bibNumber"/>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Race Series" [(value)]="raceSeriesId">
      <mat-option *ngFor="let series of raceSeries" [(value)]="series.id">
        {{series.series}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox #activeRacer [(ngModel)]="racer.active">Is Active</mat-checkbox>
  <div class="button-box">
    <button mat-raised-button color="primary" (click)="saveChanges()">Save</button>&nbsp;
    <button mat-raised-button color="primary" (click)="cancelChanges()">Cancel</button>  
  </div>
</div>