<mat-sidenav-container style="height: 100%;">
  <mat-sidenav opened="true" mode="side" disableClose="true">
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="title">{{title}}&nbsp;{{activeSeason.label}}</div>
        <div class="spacer">&nbsp;</div>
        <button class="add-button" mat-raised-button color="primary" (click)="addNewRaceEvent()">Add Race</button>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-race-event-list [raceEvents]=raceEvents></app-race-event-list>
  </mat-sidenav>
  <section>
    <router-outlet></router-outlet>
  </section>
</mat-sidenav-container>