<mat-sidenav-container style="height: 100%;">
  <mat-sidenav opened="true" mode="side" disableClose="true">
    <mat-toolbar class="flex-container">
      <div class="title">{{title}}</div>
      <div class="spacer">&nbsp;</div>
      <button class="addButton" mat-raised-button color="primary" (click)="addNewLocation()">Add Location</button>
    </mat-toolbar>
    <app-location-list [locations]=locations></app-location-list>
  </mat-sidenav>
  <section>
    <router-outlet></router-outlet>
  </section>
</mat-sidenav-container>