mat-toolbar {
    background-color: goldenrod;
}

mat-card {
    width: 75%;
}

mat-card-content {
    border: 1px solid black;
    padding: 5px;
}

.byline {
    font-size: 12px;
    text-align: right;
    margin-right: 2px;
    margin-bottom: 2px;
}