<mat-toolbar>Details</mat-toolbar>
<mat-list>
  <mat-list-item>Race Name: {{raceEvent.raceName}}</mat-list-item>
  <mat-list-item>Event Type: {{raceEvent.raceEventType.typeName}}</mat-list-item>
  <mat-list-item>Format: {{raceEvent.raceFormat.name}}</mat-list-item>
  <mat-list-item *ngIf='this.isRace()'>Runs: {{raceEvent.runCount}}</mat-list-item>
  <mat-list-item>Season: {{raceEvent.season.startYear}} - {{raceEvent.season.endYear}}</mat-list-item>
  <mat-list-item>Location: {{raceEvent.location.name}}</mat-list-item>
  <mat-list-item>Start: {{raceEvent.scheduledStartTime | date:'short'}}</mat-list-item>
  <mat-list-item>Notes: {{raceEvent.notes}}</mat-list-item>
</mat-list>